* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px;
}

.pink-btn {
    color: #FF42A5;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 80px;
    height: 40px;
    margin-right: 10px;
}

.list {
    display: flex;
    align-items: center;

}

.list a {
    margin-left: 15px;
    text-decoration: none;
    color: black;
}

.nav-bg {
    background-color: rgba(11, 2, 35, 0.10);
    border-radius: 5px;
    padding: 10px;
    margin-left: 15px;
}

.fa-youtube {
    color: red;
}

.fa-twitter {
    color: rgb(106, 106, 239);
}

.fa-circle-play {
    color: red;
}

.fa-download {
    color: #F948B2;
}

.fa-users {
    color: rgb(87, 87, 255);
}

.text-bg {
    font: bolder;
    font-size: 3rem;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.header-list li {
    margin-top: 15px;
    list-style: none;
    margin-bottom: 15px;
}

.sign-btn {
    border: 0;
    background-color: #FF42A5;
    color: white;
    padding: 10px 25px;
    border-radius: 35px;
    margin: 20px 5px;
}

.play-btn {
    border: 0;
    background-color: #4EC5F7;
    color: white;
    padding: 10px 25px;
    border-radius: 35px;
    margin: 20px 5px;
}

.banner-title {
    padding: 30px;
}

/* gamers section  */
.gamers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 100px 20px;
}

.gamers-dscription {
    text-align: right;
    margin-right: 30px;
}

/* funny videos  */
.text-color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title {
    text-align: center;
    margin-bottom: 40px;
}

/* cards */
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 100px;
}

.cards img {
    width: 300px;
    height: 400px;
}

.image-btn {
    position: relative;
}

.hover-img:hover {
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
}

.hover-content {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.image-btn:hover .hover-img {
    opacity: 0.5
}

.image-btn:hover .hover-content {
    opacity: 1
}

.watch-now {
    font: bold;
    padding: 20px;
    border-radius: 5px;
    background-color: white;

}

.fa-circle-play,
red {
    font-size: 1.5rem;
    color: rgb(245, 5, 5);

}

/*end of funny video section  */
.download-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: 80px 100px;
}

.title-text {
    font-size: 2rem;
    text-align: right;
}

.details {
    text-align: right;
    color: #534C64;
}

.download-img {
    position: relative;
    width: 450px;
    height: 500px;
}

.second-img {
    position: absolute;
    width: 250px;
    height: 300px;
    right: 600px;
}

/* child section  */
.child-games {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 100px 0;
    background-color: #F948B2;
}

.child-games img {
    width: 100%;
    margin-right: 70px;
    padding: 30px;
}

.kids-zone {
    color: white;
    margin-left: 70px;
}

.instructions {
    margin: 15px 0;
}

.developers {
    display: flex;
    margin: 20px 0;
}

.developers li {
    list-style: none;
}

.positions {
    margin-left: -40px;
}

.address {
    text-align: right;
}

.career {
    font-size: 2rem;
    color: #5a33b7;
}

.white-btn {
    background-color: white;
    color: #FF42A5;
    padding: 15px 40px;
    border-radius: 25px;
    text-align: center;
    border: 0;
}

/* small icons  */
.first-line {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 40px;
    margin-bottom: 50px;
}

.second-line {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 40px;
    margin-bottom: 50px;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.icons:hover {
    border: 2px solid rgb(192, 72, 124);
    color: #FF42A5;
    padding: 10px;
    border-radius: 40px;


}

/* icons  section end  */

footer {
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.footer-logo img {
    width: 50px;
    height: 40px;
}

.footer-list {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 20px 0;
}

footer li {
    list-style: none;

}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;

}

.fa-instagram {
    color: white;

}

.fa-facebook {
    color: white;
}

.fa-apple {
    color: white;
}

.fa-linkedin {
    color: white;
}

.terms {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
    color: #534C64;
}

.copyright {
    color: #534C64;
}


/* breakpoint for mobile devices */
@media screen and (max-width:576px) {
    nav {
        flex-direction: column;
    }

    .list {
        flex-direction: column;
        text-align: center;
        margin-bottom: 20px;
    }

    .banner {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .gamers {
        flex-direction: column;
    }

    .cards {
        flex-direction: column;
    }

    .download-section {
        flex-direction: column;
        margin: 0;
    }

    .download-img {
        position: absolute;
        width: 100%;
    }

    .second-img {
        position: relative;
        width: 150px;
        height: 200px;
        left: 100px;
        bottom: -290px;
    }

    .child-games {
        flex-direction: column;
        padding: 20px;
        margin-top: 400px;
    }

    .developers {
        flex-direction: column;
    }

    .address {
        flex-direction: column;
        text-align: center;
        margin-right: 200px;
        margin-top: 30px;
    }

    .first-line {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .second-line {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .icons:hover {
        border: 2px solid rgb(192, 72, 124);
        color: #FF42A5;
        padding: 10px;
        border-radius: 40px;
    }

    .footer-list {
        flex-wrap: wrap;
    }

    .terms {
        flex-wrap: wrap;
    }
}

/* breakpoints for larger devices  */
@media screen and (min-width:576px) and (max-width:992px) {
    nav {
        flex-direction: column;
    }

    .banner {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .banner img {
        padding: 20px;
    }

    .gamers {
        flex-direction: column;
    }

    .gamers-dscription {
        text-align: left;
        margin: 0;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .download-section {
        flex-direction: column;
        justify-content: center;

    }

    .download-img {
        position: absolute;

    }

    .second-img {
        position: relative;
        width: 150px;
        height: 200px;
        left: 100px;
        bottom: -290px;
    }

    .child-games {
        flex-direction: column;
        padding: 20px;
        margin-top: 400px;
    }

    .developers {
        flex-direction: column;
    }

    .address {
        flex-direction: column;
        text-align: center;
        margin-right: 200px;
        margin-top: 30px;
    }

    .first-line {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .second-line {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
    }
}